<!DOCTYPE html>
<html>

<head>
    <title>Agregar Empleado</title>
</head>

<body>
    <h2>Informacion de Empleados</h2>
    <form action="/savedetails" method="post">
        <table>
            <tr>
                <td>Nombre</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td>Direccion</td>
                <td><input type="text" name="address"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Registrar"></td>
            </tr>
        </table>
    </form>
</body>

</html>