<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="JS/dom.js"></script>
    <title>Document</title>
    </head>
<body>
  <script>ejecutarEventoLibre()</script>
  <p id="demo">
  </p>
  <p id="parrafo">
    Texto Inicial:
  </p>
    <form action="">
      <input type="button" value="abrir Ventana" onclick="abrirVentana()">
      <input type="button" value="Confirmacion" onclick="confirmar()">
      <input type="button" value="setTimeout" onclick="esperarServidor()">
      <input type="button" value="setTimeout" onclick="esperarServidor2()">
      <br>
      <br>
      <input type="text" name="texto1" value="hola" id="txt1" onmouseover="entrar()" onmouseout="salir()" onkeypress="escribir()">
      <br>
      <input type="button" value="Agregar nuevo nodo de texto" onclick="addNode1()">
      <input type="button" value="Eliminar nodo de texto" onclick="eliminarNode()">
    </form>

</body>
</html>